---
import GithubIcon from "../icons/github.svg?raw";
import LinkedinIcon from "../icons/linkedin.svg?raw";
import TelegramIcon from "../icons/telegram.svg?raw";
import DiscordIcon from "../icons/discord.svg?raw";
---

<div class="socialmedia slide-in-bottom" style="animation-delay: 100ms;">
  <a href="https://github.com/kahlstrm" title="Github">
    <Fragment set:html={GithubIcon} />
  </a>
  <a href="https://linkedin.com/in/kahlstrm/" title="Linkedin">
    <Fragment set:html={LinkedinIcon} />
  </a>
  <a href="https://t.me/kahlstrm" title="Telegram">
    <Fragment set:html={TelegramIcon} />
  </a>
  <a href="https://discord.com/users/120488156943351809" title="Discord">
    <Fragment set:html={DiscordIcon} />
  </a>
</div>
<style>
  :root {
    --some-gradient: linear-gradient(
      45deg,
      #4f39fa,
      #da62c4 30%,
      transparent 60%
    );
  }

  .socialmedia {
    margin: 1rem auto 0;
    display: flex;
    gap: 1rem;
  }

  a {
    display: flex;
    position: relative;
    padding: 0.15rem;
    background-image: var(--some-gradient);
    background-size: 400%;
    border-radius: 0.5rem;
    background-position: 99%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  a :global(svg) {
    width: 2rem;
    height: 2rem;
    display: block;
  }

  a:is(:hover, :focus-within) {
    background-position: 0;
  }

  a:is(:hover, :focus-within) h2 {
    color: #4f39fa;
  }

  a:is(:hover, :focus-within) h2 span {
    transform: translateX(2px);
  }
</style>
