---
export interface Props {
  sourceUrl?: string;
}

const { sourceUrl = "https://github.com/kahlstrm/web" } = Astro.props as Props;
---

<div class="footer">
  <a href={sourceUrl} target="_blank" rel="noopener noreferrer">Source</a>
</div>

<style>
  .footer {
    color: gray;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: auto;
    padding: 0.5rem 0;
  }

  a {
    text-decoration: underline;
    color: gray;
  }
</style>
