<div class="footer slide-in-bottom">
  <a
    href="https://github.com/kahlstrm/kalski-web"
    target="_blank"
    rel="noopener noreferrer">Source</a
  >
</div>

<style>
  .footer {
    color: gray;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
    padding: 2rem 0;
  }

  a {
    text-decoration: underline;
    color: gray;
  }
</style>
