---
import NitorLogo from "../icons/nitor_logo.svg?raw";
const age = new Date().getFullYear() - 2000;
---

<div class="card slide-in-bottom">
  <h2>Kalle Ahlström</h2>
  <ul>
    <li>
      Software Engineer at <a
        href="https://nitor.com"
        target="_blank"
        rel="noopener noreferrer"
        title="Nitor"
      >
        <span class="nitor-logo">
          <Fragment set:html={NitorLogo} />
        </span>
      </a>
    </li>
    <li>{age} year-old Computer Science student at Aalto University.</li>
    <li>
      Main topics of interest currently: AWS/GCP, Serverless, Infrastructure as
      code, Software Architecture, Backend Development, Rust & Go
    </li>
  </ul>
</div>

<style>
  .card {
    border-radius: 0.5rem;
    line-height: 1.4;
    padding: 1em 1.3em;
    color: var(--text-color);
    background-color: #fbeecb;
    border: 0.15rem solid var(--color-border);
    opacity: 0.8;
  }

  h2 {
    margin: 0;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  ul {
    padding-inline-start: 20px;
    list-style-type: "-  ";
  }
  li {
    margin-top: 0.75rem;
    margin-bottom: 0;
  }
  .nitor-logo {
    display: inline-block;
    height: 2rem;
    vertical-align: -0.05rem;
  }
  .nitor-logo :global(svg) {
    height: 100%;
    width: auto;
    display: block;
    image-rendering: pixelated;
  }
</style>
